
form {
    /*solo para centrar el formulario de la pagina */
    margin: 0 auto;
    width: 600px;
    /*para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}
.input {
    margin-left: 200px;
}
#Textarea{ 
    display: block;
    margin: auto;

}
input {
    /*este margen extra representa aproximadamnete el mismo espacio que el
    espacio entre los labels y sus campos de texto*/
    margin-left: 5em; 
}

label {
    /* asegura todos los labels con el mismo tamaño y estan alineados*/
    display: inline-block;
    width: 200px;
    text-align: right;
}